@tailwind base;
@tailwind components;
@tailwind utilities;

.toggle-checkbox:checked {
  @apply: right-0 border-gray-400;
  right: 0;
  border-color: #111827;
}
.toggle-checkbox:checked + .toggle-label {
  @apply: bg-gray-400;
  background-color: #111827;
}

* {
  font-family: 'JetBrains Mono'
}
